#mainPain
{
	-fx-background-color:rgb(255,255,255)
}

.button 
{
	-fx-background-color: rgb(255,255,255);
	-fx-border-color: rgb(255,255,255);
	
}	
.button:hover
{
	-fx-background-color: rgb(192,192,192)
}